:root {
  --primary-background: #fff;
  --secondary-background: #F8FAFC;
  --primary-border: #000;
  --primary-text: #000;
  --textSecond: #b0b0b0;

  --text-btn: #fff;

  --secondary-text: #64748b;
  --btn-login: #3498db;
  --color-img: 0;
  --btn-success: #27ae60;
  --btn-error: #c0392b;
}

/* role shared */

.dark-mode {
  --primary-background: #0f172a;
  --secondary-background: #1e293b;
  --primary-text: #fff;
  --secondary-text: #64748b;

  --primary-border: #fff;
  --btn-login: #fff;
  --text-btn: #000;
  --color-img: 100;
}

i {
  color: var(--primary-text);
}

img {
  filter: brightness(var(--color-img));
}

p,
h3,
h1,
h2,
h4,
h5 {
  color: var(--primary-text);
}

* {
  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  background-color: var(--primary-background);
}

#app {
  padding: 3% 15%;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  box-sizing: border-box;
  margin-bottom: 5%;
}

.card {
  padding: 20px;
  border-radius: 5px;
  background-color: var(--secondary-background);
  display: flex;
  align-items: center;
}

.card img {
  margin-right: 20px;
}


i {
  font-size: 24px;
}

.small-icon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.logo,
.darkMode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  height: 5%;
}

#user-info {
  display: flex;
  justify-content: space-between;
}

#logout-btn {
  border: 1px solid var(--btn-login);
  border-radius: 5px;
  outline: none;
  padding: 10px 15px;
  background-color: var(--btn-login);
  color: var(--text-btn);
  cursor: pointer;
}

.logo i {
  font-size: 24px;
}

.search {
  width: 100%;
}

.search i {
  cursor: pointer;
  margin-right: 15px;

}

.search input {
  width: 100%;

  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;

  color: var(--primary-text);
}


.search input::placeholder {
  color: var(--secondary-text);
}

.darkMode {
  cursor: pointer;
}

body {
  /* visibility: hidden; */
  /* Ẩn toàn bộ UI lúc đầu */
}

/* main */
.Weather-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.Weather-screen {
  display: grid;
  grid-template-columns: 258px auto auto;
  gap: 20px;
}

.weather-current {
  border: 1px solid var(--primary-border);
  padding: 20px;
  border-radius: 5px;
  background-color: var(--secondary-background);
}


#weather-condition {
  margin-bottom: 5px;
}

#weather-condition i {
  font-size: 70px;
  font-weight: 100;
}

#weather-temp {
  font-size: 40px;
  font-weight: 500;

  color: var(--primary-text);
}

#weather-description {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--primary-border);

  color: var(--primary-text);
}

#weather-location {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#weather-location i {
  margin-right: 10px;
}

#weather-country {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#weather-country i {
  margin-right: 10px;
}

#weather-days {
  display: flex;
  align-items: center;
  margin-top: 20px;

}

#weather-days i {
  margin-right: 10px;
}

/* weather-detail */
#weather-detail {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.detail-style p:first-child {
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-text);
  margin-bottom: 20px;
}

.detail-style p:last-child {
  font-size: 25px;
  font-weight: 500;
}


/* error */
#Error-Show {}

#Error {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-background);
  margin-bottom: 10px;
}

#Error-noti {
  display: flex;
  align-items: center;
}

#Error-noti i {
  margin-right: 10px;
}

#Error-out button {
  padding: 14px 16px;
  border-radius: 5px;

  font-size: 16px;
  line-height: 1.2;
  outline: none;
  border: 1px solid var(--primary-border);
  background-color: var(--primary-border);
  color: var(--text-btn);

  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
}

#scrollUp {
  display: none;
  padding: 20px;
  outline: none;
  border: none;
  background-color: var(--secondary-background);

  cursor: pointer;
}

/* login */
#main {
  display: none;
}

header {
  display: none;
}

#auth-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background-color: var(--secondary-background);
  padding: 4rem;
  border-radius: 5px;
  min-width: 400px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#login-form,
#register-form {
  display: block;
}


.auth-title {
  font-size: 20px;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.error-message {
  margin-top: 0.5rem;
  font-size: 12px;
  font-weight: 500;
  color: var(--btn-error);
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 400;

  color: var(--primary-text);
}

.form-group input {
  outline: none;
  border: 1px solid var(--primary-border);
  width: 100%;
  padding: 10px 15px;
}

.form-group input:focus {
  border-color: var(--btn-success);
}

.form-group .password-field {
  position: relative;
}

#register-confirm-toggle,
#login-password-toggle,
#register-password-toggle {
  position: absolute;
  top: 8px;
  right: -41px;

  cursor: pointer;
}

.auth-button {
  width: 100%;
  outline: none;
  background-color: var(--btn-login);
  color: var(--text-btn);
  border: 1px solid var(--btn-login);
  padding: 10px 20px;

  margin-bottom: 1rem;

  cursor: pointer;
}

.switch-auth {
  font-size: 14px;
}

.switch-auth span {
  color: var(--btn-login);
  text-decoration: underline;

  cursor: pointer;
}

/* aleart */
#alert {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* responsive */
@media (max-width: 575.98px) {
  #Error-Show {
    display: none;
  }

  input,
  textarea,
  select {
    font-size: 16px;
  }

  #app {
    padding: 3% 3%;
  }

  header {
    width: 100%;
  }

  .logo,
  .darkMode {
    width: 20%;
    height: 20%;
  }

  .card {
    margin-bottom: 10px;
  }

  .Weather-screen {
    display: block;
    gap: 10px;
  }

  .weather-current {
    margin-bottom: 10px;
  }

  #weather-detail {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {}